In [53]:
import numpy as np
import pandas as pd
import yfinance as yf

In [64]:
Tickers = "MSFT"
data = yf.download(Tickers, progress=False)
returns = data["Close"].pct_change().dropna()
returns = pd.DataFrame(returns)
returns.head()

/var/folders/c3/_pvgw8912kqc3xvfwfgx0nlh0000gn/T/ipykernel_86524/1623331127.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(Tickers, progress=False)

Ticker          MSFT
Date
2025-09-09  0.000422
2025-09-10  0.003932
2025-09-11  0.001279
2025-09-12  0.017744
2025-09-15  0.010708

Check if the data is up or down.

In [71]:
days_direction = returns > 0
days_direction

Ticker       MSFT
Date
2025-09-09   True
2025-09-10   True
2025-09-11   True
2025-09-12   True
2025-09-15   True
2025-09-16  False
2025-09-17   True
2025-09-18  False
2025-09-19   True
2025-09-22  False
2025-09-23  False
2025-09-24   True
2025-09-25  False
2025-09-26   True
2025-09-29   True
2025-09-30   True
2025-10-01   True
2025-10-02  False
2025-10-03   True
2025-10-06   True

ValueError: Data must be 1-dimensional, got ndarray of shape (20, 1) instead